// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Font Family
$font-family-base: 'Montserrat', sans-serif;
$font-family-ios-base: 'Montserrat', sans-serif;
$font-family-md-base: 'Montserrat', sans-serif;
$font-family-wp-base: 'Montserrat', sans-serif;

